.about{
  color: var(--very-dark-grey);
  margin-top: 9rem;
}

span{
  color: var(--pink)
}

.dark-theme .about {
  color: var(--orange);
}

.dark-theme span {
  color: var(--white)
}

.concerns {
  margin-top: 4rem;
  cursor: pointer;
  transition: color 0.5s;
}

.concerns:hover {
  color: var(--pink);
  transition: 0.5s;
}

.concerns ul{
  list-style: none;
}

.dark-theme .concerns:hover {
  color: var(--white);
}
