.resume-container {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 10vh; /* Gap between columns */
  font-size: 0.7rem;
}

.resume-container h4 {
  font-weight: bold;
}

.resume-container span {
  color: var(--pink)
}

.dark-theme .resume-container span{
  color: var(--white);
  font-weight: bold;
}

.dark-theme .resume-container h4{
    color: var(--white);
    font-weight: lighter;
}

.resume-container h3 {
  font-weight: bold;
  margin-bottom: 0rem;
}

.dark-theme .resume-container h3 {
  font-weight: bold;
  margin-bottom: 0rem;
}

.resume-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -0.9rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  text-align: left;
}


.dark-theme .resume-container li {
  color: var(--orange);

}

.right-column {
  display: flex;
  flex-direction: column;
  text-align: right;
}



@media (max-width: 768px) {
  .resume-container {
    font-size: 0.7rem;
    grid-template-columns: 1fr;
    gap: 2vh; /* Reduce gap between sections */
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem

  }

  .left-column, .right-column {
    text-align: left;
  }

}

.technos {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#light {
  font-weight: 400;
}
