.footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.footer ul li {
  margin: 0 10px;
}

.foot-toggle {
  color: var(--orange);
  position: absolute;
  right: 0; /* Position to the very right */
  cursor: pointer;
  padding-right: 1rem;
}

.foot-toggle:hover {
  color: var(--green);
}
