@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
:root {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple: #B084EB;
  --blue-light: #6FC1FF;
  --pink: #FF75B5;
  --blue: #6DB1FF;
  --green: #13FFDC;
  --orange: #FFB86C;
  --light-orange: hsl(36, 100%, 77%);
  --light:  #676B79;
  --white: #f3f3f3;
}

.dark-theme *{
  background-color: #242424;
}


a {
  /* font-weight: bold; */
  color: #B084EB;
  text-decoration: inherit;
  transition: 0.5s;
}
a:hover {
  color:  #13FFDC;
  transition: 0.5s;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F1F1F1;
}

body.dark-theme {
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
